* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.fundo {
  background-color: #f0f0f0;
}

:root {
  --cor-alacasas: rgb(60, 126, 60);
}
