<header class="cabecalho">
  <a href="landing.html">
    <img
      src="../assets/img/logo-Alacasas-Tbg.png"
      alt="Alacasas"
      class="logo"
    />
  </a>

  <div>
    <input type="checkbox" id="menu-check" />
    <label for="menu-check" class="menu-icon">&#9776;</label>
    <nav class="menu">
      <ul>
        <li><a href="#">Imóveis</a></li>
        <li><a href="cadastro.html">Cadastro</a></li>
        <li><a href="login.html">Login</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
    </nav>
  </div>
</header>
